<footer class="footer is-dark">
  <div class="container">
    <div class="content has-text-centered">
      <p class="is-white">
        <strong><a href="{{site.url}}">{{ site.title }}</a></strong> - {{ site.description }}
      </p>
      <p>
        <a class="button" href="https://www.facebook.com/kunangkunangid-1907030446228950/"><i class="btn fa fa-facebook"></i></a>
        <a class="button" href="https://www.instagram.com/kunangkunang.id/"><i class="btn fa fa-instagram"></i></a>
        <a class="button" href="https://twitter.com/KUNANGKUNANG_ID"><i class="btn fa fa-twitter"></i></a>
      </p>
    </div>
  </div>
</footer>

{{ site.bitrix_chat_embed }}
