@import 'bulma/bulma'
@import 'bulma-carousel/carousel.sass'

.site-header
  padding: 15px 40px
  +tablet
    +navbar-fixed
    background-color: none
  background-color: rgba(36,38,41,.4)
  .navbar-menu
    display: flex
    align-items: center
    background-color: rgba(0,0,0,0)
    a
      color: #fff
.post
  margin-top: 0
  margin-bottom: 0
  .post-header
    background-color: rgba(0,0,0, 0.8)
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
  +tablet
    .container
      background-color: rgba(0,0,0, 0.1)
      max-width: 40vw
    max-height: 100vh
    .post-content
      padding-top: 200px
      overflow: scroll
    .post-header
      max-width: 50vw
