---
layout: default
---

<div class="home">
  <section class="hero is-large">
    <div class="hero-carousel">
      <div class='carousel-container'>
        <div class='carousel-content carousel-animate carousel-animate-fade'>
          {% for post in site.posts%}
            {% if post.featured %}
              <div class='carousel-item'>
                <img class="is-background" src="{{post.image}}" alt="" />
                <div class="title">
                  {{post.title}}
                  <a href="{{post.url | relative_url}}" class="cover-link"></a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="carousel-nav-left">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="carousel-nav-right">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="hero-body has-text-centered">
      
    </div>
  </section>
  {{ content }}

  <div class="post-list columns content">
    {% for post in site.posts %}
      <div class="card column is-half-tablet is-one-third-desktop">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{post.image | relative_url}}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media-content">
            <p class="title is-4">{{post.title | escape}}</p>
            <p class="subtitle is-6"></p>
          </div>

          <div class="content">
            {{post.description | escape}}
          </div>
          <a class="card-link" href="{{post.url | relative_url}}"></a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
